
body{
	background:#FAFAFA;
	background-size:100%;
	margin:0;
}
.header{
	background:#EBBE4B;	
	height:30px;
	text-align:left;
	padding-left:20px;
	font-size:25px;
	padding-top:20px;
	width:100%;
	align-self:flex-center;
}
.inheader{
	background:black;
	width:100%;
	height:30px;
	font-size:22px;
}
.navigation{
	font-family:Arial;
	display:flex;
	flex-flow:row nowrap;
	height:30px;
	justify-content:flex-start;
	padding-right:10px;
	margin-left:10%;
	margin-right:10%;
}
.navigation a{
	
	text-align:center;
	text-decoration:none;
	color:lightgrey;
	margin-left:15%;
	align-self:flex-start;	
	height:30px;
}
.navigation a:hover {
	color:#EBBE4B;
}
.img{
	background-image:url(images/fbaa.jpg);
	background-size:100%;
	height:380px;
	width:100%;	
	
}
.inimg{
	background-color:black;
	opacity:0.6;
	height:380px;
	margin-left:11%;
	margin-right:10%;
	font-size:35px;
	text-align:right;
}
.textimg{
	text-align:left;
	color:lightgrey;
	padding-top:8%;
	padding-left:8%;
}
.content{
	padding-top:40px;
	margin-left:11%;
	font-size:20px;
	margin-right:10%;
	background-color:white;
	color:black;
	display:flex;
	flex-flow:row wrap;
}
.main{
	
	font-size:20px;
	width:70%;
	padding-left:10px;
	order:1;
}
.aside{
	width:calc(30% - 65px);
	margin-top:5px;
	margin-left:50px;
	order:2;
}
.aside strong{
	
	color:#0378D5;
	font-family:tahoma;
	font-size:14px;
	
}
.aside a{
	padding-left:13px;
	color:black;
	text-decoration:none;
	font-family:Georgia;
	font-size:19px;
}
hr{
	opacity:0.25;
	margin:8px;
}
.recommended{
	order:3;
	margin-top:40px;
	width:100%;	
	display:flex;
	flex-flow:row wrap;
}
.rec{
	text-decoration:none;
	text-align:center;
	color:black;
	background-size:100% 100%;
	height:250px;
	font-size:24px;
	width:30%;
	align-self:flex-center;
	margin-bottom:50px;
	}
.rec:hover{
	opacity:0.98;
}
.rec span{
	display: block;
	padding-top:260px;
}
.name{
	padding-bottom:20px;
	padding-left:3%;
	font-size:25px;
	color:#0378D5;
	width:100%;
	oreder:1;
}
.l{	
	display: block;
	background: url(http://rupoint.cz/wp-content/uploads/2018/02/G-Eazy1-e1519043135807-890x530.jpg) no-repeat;
	margin-left:3%;
	margin-right:2%;
	background-size:100% 100%;
	order:2;
}
.c{
	display: block;
	background: url(https://ksassets.timeincuk.net/wp/uploads/sites/55/2015/12/2012TheWeekndPressCreditLAMARTAYLOR291012.jpg) no-repeat;
	background-size:100% 100%;
	order:3;
}
.r{
	
	display: block;
	background: url(https://www.musicattitude.it/wp-content/images/2018/01/eminem-tour-2018-concerto-milano-biglietti-730x486.jpg) no-repeat;
	background-size:100% 100%;
	margin-left:2%;
	margin-right:3%;
	order:4;
}
.footer{
	background:black;
	color:#598DEE;
	clear:both;
	margin-top:50px;
	height:170px;
	text-align:center;
	font-size:23px;
	width:100%;
	order:7;	
}
.line {
	padding-top:20px;
	text-align:center;
}
.line a{
	margin-left:20px;
	text-decoration:none;
	color:#EBBE4B;
}
.line a:hover{
	color:#598DEE;
}
.alphabet{
	text-align:center;
	padding-top:25px;
}
.alphabet a{
	margin-left:8px;
	text-decoration:none;
	color:#EBBE4B;
}
